$black: #232323;
$white: #fff;
$dark: #000;

$contentColor: #282828;
$borderColor: #424242;

$buttonBackground: #5D5D5D;
$buttonBackgroundHover: #424242;
$buttonBackgroundClick: #2d2d2d;

$toogleActive: #00C853;
